<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="40" *ngIf="itemDetail">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title><h1>{{itemDetail.name|uppercase}}</h1></mat-card-title>
      </mat-card-title-group>
      <img matCardImage src="{{itemDetail.image}}">
      <mat-card-content>
        <h2>{{itemDetail.name}}</h2>
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-button (click)="onAction($event)">Action1</button>
        <button mat-button (click)="onAction($event)">Action2</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div fxFlex="40">
    <!--<mat-list fxFlex> &lt;!&ndash; fxFlex indica que sera tratado como una pieza de contenido&ndash;&gt;
      <mat-list-item *ngFor="let itemd of itemDetail['comments']">
        <h1 mat-line> {{itemd.command}} </h1>
        <p mat-line>
          <span> {{itemd.rating}} </span>
        </p>
      </mat-list-item>
    </mat-list>-->

    <div fxFlex>
      <mat-list fxFlex>
        <h1 mat-line>Comments</h1>
        <hr>
        <mat-list-item *ngFor="let item of itemDetail['comments']">
          <p mat-line>{{item.comment}}</p>
          <p mat-line>{{item.rating}} Stars</p>
          <p mat-line> -- {{item.author}} {{item.date|date:'MMM-dd-yyyy'}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

</div>


